<div class="container">
    <div class="well">
        <form name="registerForm" class="form-horizontal">
            <fieldset>
                <legend>User Profile</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="firstname">First Name</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="firstname" placeholder="Firstname" ng-model='vm.identity.currentUser.firstname' required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="lastname">Last Name</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="lastname" placeholder="Lastname" ng-model='vm.identity.currentUser.lastname' required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Email</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email" placeholder="Email" ng-model='vm.identity.currentUser.email' required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="lastname">Address</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" name="lastname" placeholder="Address" ng-model='vm.identity.currentUser.profile.address' required="required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Phone</label>
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email" placeholder="Phone" ng-model='vm.identity.currentUser.profile.phone' required="required">
                    </div>
                </div>

                <div class="form-group">
                  <div class="col-md-10 col-md-offset-2">
                      <div class="pull-right">
                        <button ng-click="vm.update()" class="btn btn-primary">Update</button>&nbsp;
                      </div>
                  </div>
                </div>

              </fieldset>
            </form>
        </div>
</div>
