<html ng-app='app'>

<head>
    <meta charset="utf-8">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/hover/css/hover.css" />
    <link rel="stylesheet" href="/lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/lib/toastr/toastr.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <title>LogoZone</title>

</head>

<body ng-controller='navCtrl as vm'>
  <div class="container">
    <nav class="navbar navbar-default" ng-if='vm.identity.isAuthenticated()'>
        <ul class="nav navbar-nav">
            <li role="presentation"><a href="#home">Home</a></li>
            <li role="presentation"><a href="#about">About</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown right" role="presentation">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
          Welcome {{vm.identity.currentUser.firstname}}, {{vm.identity.currentUser.lastname}}
          <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="" ng-click='vm.logout()'> Sign Out </a>
                    </li>
                    <li>
                        <a href="#profile"> Profile </a>
                    </li>
                    <!-- TODO-Fix Admin Issue on the client -->
                    <li ng-if='vm.identity.currentUser.isAdmin()'>
                        <a href="#admin"> User Admin </a>
                    </li>
                </ul>
            </li>
            <li class="right position-right">
                <!-- <div id="logoutForm" class="loginDisplay">
                    <img alt="" class="user-menu-toggle" ng-src="http://www.gravatar.com/avatar/{{vm.identity.currentUser.avatarHash}}?s=36" />
                    <div style="display: none;" class="user-flyout">
                        <a class="gravatar" href="https://en.gravatar.com/emails/" target="_blank"><img alt="" src="http://www.gravatar.com/avatar/{{vm.identity.currentUser.avatarHash}}?s=100" /></a>
                        <div class="user-info">
                            <strong><span>{{vm.identity.currentUser.firstname}}, {{vm.identity.currentUser.lastname}}</span></strong>
                            <br>
                        </div>
                        <div class="sub-actions">
                            <a ng-click="logOut()" class="link clickable pull-right">Sign Out</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div> -->
            </li>
        </ul>
    </nav>

    <section ng-view ng-cloak>
    </section>
    <footer class='text-center' ng-if='vm.identity.isAuthenticated()'>
        <small>&copy; {{vm.currentYear}} LogoZone Inc.</small>
    </footer>
  </div>

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-messages/angular-messages.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/lib/toastr/toastr.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>
    <script src="/lib/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/js/appConfig.js"></script>
    <script src="/js/account/auth-controller.js"></script>
    <script src="/js/account/auth-service.js"></script>
    <script src="/js/account/identity-service.js"></script>
    <script src="/js/account/register-controller.js"></script>
    <script src="/js/account/user-cache-service.js"></script>
    <script src="/js/account/user-service.js"></script>
    <script src="/js/common/navigation-controller.js"></script>
    <script src="/js/common/notifier.js"></script>
    <script src="/js/directives/logo-element.component.js"></script>
    <script src="/js/internal/admin-controller.js"></script>
    <script src="/js/internal/admin-user-controller.js"></script>
    <script src="/js/internal/profile-controller.js"></script>
    <script src="/js/main/main-controller.js"></script>
    <!-- endinject -->
</body>

</html>
