<html ng-app='app'>
<head>
    <meta charset="utf-8">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/hover/css/hover.css" />
    <link rel="stylesheet" href="/lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="/lib/toastr/toastr.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <title>LogoZone</title>
    <nav class="navbar navbar-default" ng-if='vm.identity.currentUser'>
      <ul class="nav navbar-nav" ng-show='vm.identity.isAuthenticated()'>
        <li role="presentation"><a href="#home">Home</a></li>
        <li role="presentation"><a href="#about">About</a></li>
          <li class="dropdown right" role="presentation">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#profile">
              Welcome {{vm.identity.currentUser.firstname}}, {{vm.identity.currentUser.lastname}}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="" ng-click='vm.logout()'> Sign Out </a>
              </li>
            </ul>
          </li>
      </ul>
    </nav>
</head>

<body ng-controller="mainCtrl as vm">

    <section class="content" ng-view ng-cloak>
    </section>

    <footer class='text-center' ng-if='vm.identity.isAuthenticated()'>
        <small>&copy; 2016 LogoZone Inc.</small>
    </footer>

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-messages/angular-messages.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/lib/toastr/toastr.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/js/appConfig.js"></script>
    <script src="/js/account/authCtrl.js"></script>
    <script src="/js/account/authSvc.js"></script>
    <script src="/js/account/identitySvc.js"></script>
    <script src="/js/account/userSvc.js"></script>
    <script src="/js/common/notifier.js"></script>
    <script src="/js/main/mainCtrl.js"></script>
    <script src="/js/directives/fileRead.js"></script>
    <script src="/js/directives/logoElement.js"></script>
    <!-- endinject -->
</body>

</html>
