.wrapper .arrow {
            width: 10px;
            height: 10px;
            -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
            -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 1.25);
            border-top: 3px solid rgba(0, 0, 0, 0.33);
            border-right: 3px solid rgba(0, 0, 0, 0.33);
            float: right;
            position: relative;
            top: -15px;
            right: 27px;
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
        }