<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Logo Dialog</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="form-group">
                    <button class="btn btn-file">
                      Upload...
                        <input type="file" file-read='vm.fileObject'>
                    </button>
                </div>
                <p ng-if='vm.fileObject'> {{vm.fileObject.name}}</p>
                <p ng-if='vm.error' class="alert alert-danger">{{vm.error}}</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.answer(vm.fileObject)">
                Set
            </md-button>
            <md-button ng-click="vm.answer(null)" style="margin-right:20px;">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
